<div class="container">
    <h1>Новий контакт</h1>
    <form #contactForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" id="name" required [(ngModel)]="contact.firstName" name="name" #name="ngModel" placeholder="name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="secondName" [(ngModel)]="contact.secondName" name="secondName" placeholder="secondName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="phone" [(ngModel)]="contact.phone" name="phone" placeholder="phone">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="birthday" [(ngModel)]="contact.birthday" name="alterEgo" placeholder="birthday">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="website" [(ngModel)]="contact.website" name="website" placeholder="website">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="email" [(ngModel)]="contact.email" name="email" placeholder="email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="company" [(ngModel)]="contact.company" name="company" placeholder="company">
        </div>

        <button type="submit" class="btn btn-success" (click)="goBack()">Скасувати</button>
        <button type="submit" class="btn btn-success" (click)="add()">Зберегти</button>
    </form>
</div>